<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Streamlit-Flask App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #3498db;
        }

        p {
            color: #555;
        }
    </style>

    <!-- JavaScript 코드 추가 -->
    <script>
        // 페이지가 로드될 때 Streamlit 애플리케이션으로 리디렉션
        window.onload = function() {
            window.location.href = "http://192.168.21.188:8502";
        };
    </script>
</head>
<body>
    <!-- 아래의 내용은 무시될 것입니다. -->
    <h1>Hello, Streamlit-Flask App!</h1>
    <p>This is a simple web page for your Streamlit-Flask application.</p>
</body>
</html>

